<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.giwahdavalos.gizo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ui.activities.MainActivity"
            android:noHistory="true"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ui.activities.Login"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="ui.activities.Registro"
            android:theme="@style/RegistroTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="ui.activities.Colecciones"
            android:theme="@style/ColeccionesTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="ui.activities.AddColeccion"
            android:label="@string/title_activity_add_coleccion"
            android:theme="@style/AddColeccionTheme" />
        <activity
            android:name="ui.activities.DetalleColeccion"
            android:label="DetalleColeccion"
            android:theme="@style/DetalleColeccionTheme" />
        <activity
            android:name="ui.activities.EditarColeccion"
            android:label="EditarColeccion"
            android:theme="@style/EditarColeccionTheme" />
        <activity
            android:name="ui.activities.DetallePictograma"
            android:label="DetallePictograma"
            android:screenOrientation="portrait"
            android:theme="@style/DetallePictogramaTheme" />
        <activity
            android:name="ui.activities.RecordSound"
            android:screenOrientation="portrait"
            android:theme="@style/DetalleRecordSoundTheme" />
        <activity
            android:name="ui.activities.Blank"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"></activity>
    </application>

    <supports-screens android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />

</manifest>